body {
    font-family: 'Roboto', sans-serif;
    background-color: #3f3f3f;
    color: #ffffff;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
    padding: 20px;
    background-color: #5d5d5d;
    border-radius: 10px;
    margin-block-end: 20px;
  }
  
  select {
    background-color: #5d5d5d;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-block-end: 10px;
  }
  
  #desplegables {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
  }
  
  #datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-end: 20px;
  }
  
  #atributos, #habilidades, #rasgos, #talentos {
    margin-block-end: 20px;
  }
  
  table {
    border-collapse: collapse;
    inline-size: 100%;
  }
  
  th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: start;
  }
  
  th {
    background-color: #5d5d5d;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #4d4d4d;
  }
  
  button {
    background-color: #5d5d5d;
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-block-start: 20px;
  }
  
  button:hover {
    background-color: #4d4d4d;
  }